<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="40">

    <mat-card class="profile-sidebar mb-16 pb-0">

      <div class="propic text-center">
        <img [src]="jwtAuth?.user?.foto" alt="">
        <!-- <img src="assets/images/Miura-Logo.png" alt=""> -->
      </div>

      <div class="profile-title text-center mb-16">
        <div class="main-title">{{(user | async)?.lastname}}</div>
        <div class="subtitle mb-8">{{jwtAuth?.user?.firstname}}</div>
        <div class="text-muted">Nacido el: {{(user | async)?.date_birth}}</div>
      </div>

    </mat-card>

  </div>

<!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
  
</div>