<div fxLayout="row wrap">
  <!-- <h4>mat-select</h4> -->
  <mat-card style="width: 50%">
    <mat-card-header>
      <mat-card-title>Elegir Bolso para explorar ubicaciones</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Bolso</mat-label>
          <mat-select [(value)]="selectedValue" (selectionChange)="onBolsoChange()">
            <!-- <mat-select name="bolsosArray"> -->
            <mat-option *ngFor="let bolsosArray of bolsosArray" [value]="bolsosArray.id">
              {{bolsosArray.namebyuser}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <p>You selected: {{selectedValue}}</p> -->
      </div>
    </mat-card-content>
  </mat-card>

<!-- <mat-card style="width: 30%">
    <mat-card-header>
      <mat-card-title>Elegir Id del reporte</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Ubicación</mat-label>
        <mat-select name="reporteArray">
          <mat-option *ngFor="let reporteArray of reporteArray" [value]="reporteArray.id">
            {{reporteArray.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card> -->

  <!-- <div>
    <mat-form-field class="full-width">
      <mat-select [(ngModel)]= "selected" placeholder="Selector de Velocidad"> -->
                  <!-- (ngModelChange)='changeStep()'> -->
        <!-- <mat-option *ngFor="let item of stepOptions" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div fxFlex="100" fxFlex.gt-sm="90">
    <mat-card class="p-0">
      <mat-card-title class=" m-0">
        <div class="card-title-text">Recorridos</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="p-0">
        <agm-map 
        [ngStyle]="{height: '600px'}"
        [zoom]="zoom" 
        [latitude]="mapCenter.lat" 
        [longitude]="mapCenter.lng">
        <agm-marker [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [label]="'BD'">
          <agm-info-window [disableAutoPan]="true" [isOpen]="true">
            <p><strong>Bolso Id:</strong> {{mapCenter.bag_id}} </p>
            <p><strong>Hora del Registro:</strong> {{mapCenter.time_}}</p>
          </agm-info-window>
        </agm-marker>
          <agm-polyline strokeColor="#247ba0 ">
            <agm-polyline-point *ngFor="let points of reporteArray" [latitude]="points.latitud" [longitude]="points.longitud"></agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div fxFlex="100" fxFlex.gt-sm="50">
    <mat-card class="p-0">
      <mat-card-title class=" m-0">
        <div class="card-title-text">Info Ubicación</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="p-0">
        <agm-map 
        [ngStyle]="{height: '600px'}"
        [zoom]="zoom" 
        [latitude]="mapCenter.lat" 
        [longitude]="mapCenter.lng">
        <agm-marker [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [label]="'BD'">
          <agm-info-window [disableAutoPan]="true" [isOpen]="true">
            <p><strong>Bolso:</strong> Miura</p>
            <p><strong>Hora del Registro:</strong> {{mapCenter.time_}}</p>
          </agm-info-window>
        </agm-marker>
        </agm-map>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- <div fxFlex="100" fxFlex.gt-sm="33">
    <mat-card class="p-0">
      <mat-card-title class=" m-0">
        <div class="card-title-text">Circle<span fxFlex></span>
        <small>Radius: {{circleMapRadius / 1000}} km</small></div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="p-0">
        <agm-map 
        [ngStyle]="{height: '400px'}"
        [zoom]="zoom" 
        [latitude]="mapCenter.lat" 
        [longitude]="mapCenter.lng">
        <agm-circle 
        [latitude]="mapCenter.lat" 
        [longitude]="mapCenter.lng" 
        [radius]="circleMapRadius"
        [editable]="true"
        [strokeColor]="'#000'"
        [strokeWeight]="'3px'"
        (radiusChange)="circleMapRadiusChange($event)">
        </agm-circle>
        </agm-map>
      </mat-card-content>
    </mat-card>
  </div> -->
  
  <!-- <div fxFlex="100" fxFlex.gt-sm="33">
    <mat-card class="p-0">
      <mat-card-title class="m-0">
        <div class="card-title-text">Basic</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="p-0">
        <agm-map 
        [ngStyle]="{height: '400px'}"
        [zoom]="zoom" 
        [latitude]="mapCenter.lat" 
        [longitude]="mapCenter.lng"></agm-map>
      </mat-card-content>
    </mat-card>
  </div> -->
  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>