
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="bolsosArray"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rowHeight]="50">
          <ngx-datatable-column name="Id" [flexGrow]="1" [width]="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.id }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre del Bolso" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.namebyuser }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Tipo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.tipo }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Modelo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.modelo }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Email" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.company }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="N° de contacto" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.company }}
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.activo">{{row.activo ? 'activo' : 'inactivo'}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
<!-- <div class="m-333">
  <button mat-raised-button class="mb-8" color="primary" (click)="openPopUp({}, true)">Agregar Bolso</button>
</div> -->