<mat-card style="width: 90%">
  <mat-tab-group>
    <mat-tab label="Datos Personales">
      <mat-card-content class="mt-16">
          <form>
            <mat-form-field class="full-width">
              <input
              matInput
              name="user_name"
              placeholder="Nombre de Usuario"
              value="{{(user | async)?.displayName}}"
              disabled> 
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="firstname"
              placeholder="Nombre"
              value="{{(user | async)?.firstname}}"
              disabled> 
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                matInput
                name="title"
                placeholder="Apellido"
                value="{{(user | async)?.lastname}}"
                disabled>
              </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="email"
              placeholder="Email"
              value="{{(user | async)?.email}}"
              disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="date_birth"
              placeholder="Fecha de Nacimiento"
              value="{{(user | async)?.date_birth}}"
              disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="direccion"
              placeholder="Dirección"
              value="{{(user | async)?.direccion}}"
              disabled>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="openPopUp(userArray)">Editar</button>  <!-- (click)="openPopUp()" -->

          </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Foto de Perfil">
      <mat-card-content>
        <div class="mb-16 mt-16">
          <p>Subir Fotografía</p>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="mb-16">
          <div ng2FileDrop
          [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
          [uploader]="uploader"
          (fileOver)="fileOverBase($event)"
          class="fileupload-drop-zone">
          Arrastre el archivo png/jpeg aquí
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
            <tr>
                <th width="30%">Nombre</th>
                <th>Tamaño</th>
                <th>Progreso</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
                <td>{{ item?.file?.name }}</td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        <mat-progress-bar
                          class=""
                          color="primary"
                          mode="determinate"
                          [value]="item.progress">
                        </mat-progress-bar>
                    </div>
                </td>
                <td class="">
                    <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                    <mat-icon *ngIf="item.isCancel" color="accent">cancelar</mat-icon>
                    <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
                </td>
                <td nowrap>
                    <button 
                    mat-raised-button
                    class="mat-primary"
                    (click)="subir()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">Subir</button>
                    <button 
                    mat-raised-button
                    class="mat-accent"
                    (click)="item.cancel()"
                    [disabled]="!item.isUploading">Cancelar</button>

                    <button 
                    mat-raised-button
                    class="mat-warn"
                    (click)="item.remove()">Remover</button>
                </td>
            </tr>
            </tbody>
            <ng-template #tableNoData>
              <p [ngStyle]="{padding: '0 1.2rem'}">La lista está vacía</p>
            </ng-template>
        </table>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>