<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="140px" src="assets/images/Miura-Logo.png" alt="" class="mb-8">
           <h2>¡Comencemos!</h2>
          <p class="text-muted m-0">Crear Cuenta</p>
        </div>
        <form [formGroup]="signupForm"  (ngSubmit)="signup()">

          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                type="email"
                name="email"
                [formControl]="signupForm.controls['email']"
                placeholder="Correo Electrónico"
                value="">
            </mat-form-field>
            <small 
              *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched" 
              class="form-error-msg"> Se requiere ingresar un correo </small>
              <small 
                *ngIf="signupForm.controls['email'].hasError('email') && signupForm.controls['email'].touched" 
                class="form-error-msg"> Correo inválido </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="name"
                name="name"
                matInput
                [formControl]="signupForm.controls['name']"
                placeholder="Nombre" 
                value="">
            </mat-form-field>
            <small 
              *ngIf="signupForm.controls['name'].hasError('required') && signupForm.controls['name'].touched" 
              class="form-error-msg"> Se requiere que ingrese el nombre </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="lastname"
                name="lastname"
                matInput
                [formControl]="signupForm.controls['lastname']"
                placeholder="Apellido" 
                value="">
            </mat-form-field>
            <small 
              *ngIf="signupForm.controls['lastname'].hasError('required') && signupForm.controls['lastname'].touched" 
              class="form-error-msg"> Se requiere que ingrese su apellido </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="user_name"
                name="user_name"
                matInput
                [formControl]="signupForm.controls['user_name']"
                placeholder="Nombre de Usuario" 
                value="">
            </mat-form-field>
            <small 
              *ngIf="signupForm.controls['user_name'].hasError('required') && signupForm.controls['user_name'].touched" 
              class="form-error-msg"> Se requiere que ingrese el nombre </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="password"
                matInput
                [formControl]="signupForm.controls['password']"
                placeholder="Contraseña" 
                value="">
            </mat-form-field>
            <small 
              *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched" 
              class="form-error-msg"> Se requiere una contraseña </small>
          </div>
          
          <div class="">
            <mat-form-field class="full-width">
              <input
                type="password"
                name="confirmPassword"
                matInput
                [formControl]="signupForm.controls['confirmPassword']"
                placeholder="Confirmar Contraseña"
                value="">
            </mat-form-field>
            <small *ngIf="signupForm.controls['confirmPassword'].hasError('required') && signupForm.controls['confirmPassword'].touched" class="form-error-msg">Se requiere confirmar Contraseña.</small>
            <small *ngIf="signupForm.controls['confirmPassword'].hasError('equalTo')" class="form-error-msg">Las contraseñas no coinciden.</small>
          </div>
          
          <div class="pb-16">
            <mat-checkbox
              name="agreed"
              [formControl]="signupForm.controls['agreed']"
              class="pb-16">He leído y acepto los términos del servicio.</mat-checkbox>

              <small 
                *ngIf="signupForm.controls['agreed'].hasError('agreed') && signupForm.controls['agreed'].touched" 
                class="form-error-msg"> Debe aceptar los términos y condiciones </small>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-16" [disabled]="signupForm.invalid">Crear Cuenta</button>
          <div class="text-center">
            <a [routerLink]="'/sesion/inicio'" class="text-center full-width">Iniciar Sesión con una cuenta existente</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
