<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/egret.png" alt="">
          <p class="text-muted m-0">Inicie sesión con su cuenta</p>
        </div>

        <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
        
        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="username"
                [formControl]="signinForm.controls['username']"
                placeholder="Nombre de Usuario"
                value="">
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
              class="form-error-msg"> Se requiere Nombre de Usuario </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                placeholder="Contraseña" 
                value="">
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
              class="form-error-msg"> Debe ingresar una contraseña </small>
          </div>
          
          <div class="pb-16">
            <mat-checkbox
              name="rememberMe"
              [formControl]="signinForm.controls['rememberMe']"
              class="pb-16">Recordarme en este computador</mat-checkbox>
          </div>
          
          <button mat-raised-button class="mat-primary full-width mb-16" [disabled]="signinForm.invalid">Iniciar sesión</button>
          <div class="text-center">
            <a [routerLink]="'/sesion/recuperarcuenta'" class="mat-primary text-center full-width">Olvidó su contraseña</a>
            <span fxFlex></span>
            <a [routerLink]="'/sesion/nuevacuenta'" class="mat-primary text-center full-width">Crear una cuenta nueva</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

