<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/logo.png" alt="" class="mb-8">
          <p class="text-muted m-0">Una nueva contraseña será enviada a su correo electrónico</p>
        </div>
        <form #fpForm="ngForm" (ngSubmit)="submitEmail()">

          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="email"
                required
                [(ngModel)]="userEmail"
                #email="ngModel"
                placeholder="Correo Electrónico"
                value="">
            </mat-form-field>
            <small 
              *ngIf="email.errors && (email.dirty || email.touched) && (email?.errors?.required)" 
              class="form-error-msg"> Se requiere un correo electrónico </small>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-16" [disabled]="fpForm.invalid">Enviar Contraseña</button>
          <div class="text-center">
            <a [routerLink]="'/sesion/inicio'" class="mat-primary text-center full-width">Iniciar Sesión</a>
            <span fxFlex></span>
            <a [routerLink]="'/sesion/nuevacuenta'" class="mat-primary text-center full-width">Crear una cuenta nueva</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

