<div fxLayout="row wrap">
  <div
  *ngFor="let producto of productosArray" 
  fxFlex="100"
  fxFlex.gt-sm="33"
  fxFlex.sm="50">
    <mat-card class="user-card p-0">
      <mat-card-title>
        <div class="card-title-text">
          <div class="toolbar-avatar md mr-16"><img [src]="producto.imagen" alt=""></div>
          <span>{{producto.namebyuser}}</span>
          <span fxFlex></span>
          <mat-chip mat-sm-chip [color]="'primary'" [selected]="producto.activo">{{producto.activo ? 'activo' : 'inactivo'}}</mat-chip>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="openPopUp(producto)">Editar Info</button>
              <!-- <button mat-menu-item (click)="openPopUpImage(producto)">Editar Imagen</button> -->
              <button mat-menu-item (click)="deleteItemProducto(producto)">Eliminar</button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <!-- user detail lines-->
        <div class="user-details">
          <p><mat-icon class="text-muted">card_giftcard</mat-icon>Tipo:  {{producto.tipo}}</p>
          <p><mat-icon class="text-muted">style</mat-icon>Modelo: {{producto.modelo}}</p>
          <p><mat-icon class="text-muted">style</mat-icon>Nombre Producto:  {{producto.product_name}}</p>
          <!-- <p><mat-icon class="text-muted">style</mat-icon>Estado Producto: 
            <mat-chip mat-sm-chip [color]="'primary'" [selected]="producto.activo">{{producto.activo ? 'activo' : 'inactivo'}}</mat-chip>
          </p> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>