<div class="m-033">
  <!-- <button
    mat-raised-button
    color="primary"
    [routerLink]="['/invoice/add']"
    routerLinkActive="router-link-active"
    style="margin-bottom: 10px;"
  >
    Add Invoice
  </button> -->
  <mat-table [dataSource]="alertasArray" class="mat-elevation-z4" #table>

    <!-- Bolso Id Column -->
    <ng-container matColumnDef="Bolso">
      <mat-header-cell *matHeaderCellDef>
        Producto
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.bolso_name }} </mat-cell>
    </ng-container>

    <!-- Hora Column -->
    <ng-container matColumnDef="{{ itemTableColumn[1] }}">
      <mat-header-cell *matHeaderCellDef>
        Hora
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.time_stamp }} </mat-cell>
    </ng-container>

    <!-- Alerta Column -->
    <ng-container matColumnDef="{{ itemTableColumn[2] }}">
      <mat-header-cell *matHeaderCellDef>
        Alerta
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.alert_name }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="{{ itemTableColumn[3] }}">
      <mat-header-cell *matHeaderCellDef>
        Estatus
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="text-transform: capitalize;">
        {{ element.status }}
      </mat-cell>
    </ng-container>

    <!-- Acciones column -->
    <ng-container matColumnDef="{{ itemTableColumn[4] }}">
      <mat-header-cell *matHeaderCellDef>
        Eliminar
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <button
          mat-button
          routerLink="/invoice/{{ row.id }}"
          routerLinkActive="router-link-active"
        >
          View
        </button> -->
        <button mat-icon-button mat-sm-button color="warn" (click)="deleteAlertaById(row.id)"><mat-icon>delete</mat-icon></button>
        <!-- <button mat-button (click)="deleteInvoiceById(row.id)">Borar</button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="itemTableColumn"></mat-header-row>
    <mat-row *matRowDef="let row; columns: itemTableColumn"></mat-row>
  </mat-table>
</div>
