<h1 matDialogTitle>{{data.title}}</h1>
<!-- Editar Datos Personales -->
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="namebyuser"
        [formControl]="itemForm.controls['namebyuser']"
        placeholder="Nombre">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pt-16 pr-16">
      <mat-slide-toggle [formControl]="itemForm.controls['isActive']">Status</mat-slide-toggle>
    </div>

    <div fxFlex="100" class="mt-16">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
  </form>