<h1 matDialogTitle>{{data.title}}</h1>
<!-- Editar Datos Personales -->
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="nombre_usuario"
        [formControl]="itemForm.controls['nombre_usuario']"
        placeholder="Nombre de Usuario">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="firstname"
        [formControl]="itemForm.controls['nombre']"
        placeholder="Nombre">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
          <input
          matInput
          name="lastname"
          [formControl]="itemForm.controls['apellido']"
          placeholder="Apellido">
        </mat-form-field>
      </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="email"
        [formControl]="itemForm.controls['email']"
        placeholder="Email">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="date_birth"
        [formControl]="itemForm.controls['date_birth']"
        placeholder="Fecha de Nacimiento">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
          <input
          matInput
          name="direccion"
          [formControl]="itemForm.controls['direccion']"
          placeholder="Dirección">
        </mat-form-field>
      </div>

    <div fxFlex="100" class="mt-16">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
  </form>